<div class="feedback-reply">
  <div class="content-with-upvote">
    <div class="upvote-block"
         data-controller="upvote"
         data-upvote-url-value="<%= upvote_reply_path(reply) %>">
      <button class="upvote-btn" data-action="click->upvote#upvote"><i class="fa-regular fa-circle-up"></i></button>
      <div class="upvote-count" data-upvote-target="count"><%= reply.upvotes %></div>
    </div>
    <% if reply.user.avatar.attached? %>
      <%= cl_image_tag reply.user.avatar.key, width: 20, height: 20, crop: :thumb, gravity: :face, class: "avatar-mini", alt: "User avatar" %>
    <% else %>
      <%= image_tag "Avatar_placeholder.png", width: 20, height: 20, class: "avatar-mini", alt: "User avatar placeholder" %>
    <% end %>
    <p><strong><%= reply.user.first_name.capitalize %>:</strong> <%= reply.content %></p>
  </div>
</div>
