<h1>Refine your idea</h1>

<%= form_with model: @idea, class: "edit-form" do |form_idea| %>
  <div class="flex-column edit-form-inputs">
    <%# Display the fields from Idea model %>
    <%= form_idea.text_field :title, class: "edit-form-input edit-form-title" %>
    <%= form_idea.text_field :tagline, class: "edit-form-input edit-form-tagline" %>
    <%= form_idea.text_area :summary, class: "edit-form-input edit-form-summary", rows: 1,
      data: { controller: 'resize-textarea', action: 'input->resize-textarea#resize' } %>

    <%# Display the fields from IdeaSections model %>
    <%= form_idea.fields_for :idea_sections, @idea.sections do |idea_section_fields| %>
      <% last_input = idea_section_fields.object == @last_section %>
      <%= idea_section_fields.text_field :heading, class: "edit-form-input edit-form-heading" %>
      <%= idea_section_fields.text_area :content, class: "edit-form-input edit-form-content", rows: 1,
        data: { controller: 'resize-textarea', action: 'input->resize-textarea#resize' } %>
    <% end %>
  </div>

  <%# Add submit button %>
  <div class="flex-column icon-button-container">
    <div class="icon-button btn btn-primary">
      <%= form_idea.button type: "submit", name: "pressed_button", value: "save" do %>
        <i class='fa-solid fa-floppy-disk'></i>
        <span class="icon-button-description">Save</span>
      <% end %>
    </div>
    <div class="icon-button btn btn-primary">
      <%= form_idea.button type: "submit", name: "pressed_button", value: "share" do %>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <span class="icon-button-description">Share</span>
      <% end %>
    </div>
  </div>
<% end %>
