<h1>My Ideas</h1>

<div class="custom-card-container">
  <%= link_to new_initial_question_path, class: "custom-card-link" do %>
    <div class="custom-card new-idea">
      <p><i class="fa-solid fa-plus"></i></p>
    </div>
  <% end %>
  <% @ideas.each do |idea| %>
    <%= link_to edit_idea_path(idea), class: "custom-card-link" do %>
      <div class="custom-card">
        <div class="custom-card-top">
          <div class="custom-card-top-left">
            <h3><%= idea.title %></h3>
            <h5><%= idea.tagline %></h5>
          </div>
          <div class="post-upvote">
            <div class="upvote-block static">
              <button class="upvote-btn">
                <i class="fa-solid fa-paper-plane"></i>
              </button>
              <div class="upvote-count"><%= idea.posts.count %></div>
            </div>
            <div class="upvote-block static">
              <button class="upvote-btn" disabled>
                <i class="fa-regular fa-circle-up"></i>
              </button>
              <div class="upvote-count"><%= idea.upvotes %></div>
            </div>
          </div>
        </div>
        <p><%= idea.summary %></p>
      </div>
    <% end %>
  <% end %>
</div>
