<h1>Choose your favorite:</h1>

<div class="card-container">

  <%= button_to expanded_questions_path, action: "create", params: {idea_summary: @initial_question.ai_answer1 } do %>
   <div class="ideas-card">
   <h2>Idea 1</h2>
    <p><%= @initial_question.ai_answer1 %></p>
   </div>
   <% end %>

  <%= button_to expanded_questions_path, action: "create", params: {idea_summary: @initial_question.ai_answer2 } do %>
    <div class="ideas-card" >
    <h2>Idea 2</h2>
      <p><%= @initial_question.ai_answer2 %></p>
    </div>
    <% end %>

  <%= button_to expanded_questions_path, action: "create", params: {idea_summary: @initial_question.ai_answer3 } do %>
   <div class="ideas-card">
   <h2>Idea 3</h2>
    <p><%= @initial_question.ai_answer3 %></p>
   </div>
   <% end %>
  </div>


   <%= form_with(url: "/initial_questions", method: "post") do |form| %>
   <div class="custom-form">
      <div class="custom-form-bubble">
        <%= form.label :changes, "Any Changes" %>
        <%= form.text_field :changes, placeholder: "I'm really looking to do something which has some interesting challenges to tackle on the backend of development..." %>
      </div>
      <div>
        <%= form.submit "Re-generate", class: "btn btn-primary"%>
    </div>
 <% end %>
