<h1>Show page</h1>

<p>
  <%= @initial_question.ai_answer1 %>
</p>

<p>
  <%= @initial_question.ai_answer2 %>
</p>

<p>
  <%= @initial_question.ai_answer3 %>
</p>


<%= form_with(url: "/initial_questions", method: "post") do |form| %>
  <div class="custom-form">
    <div class="custom-form-bubble">
      <%= form.label :changes, "Any Changes" %>
      <%= form.text_field :changes, placeholder: "I'm really looking to do something which has some interesting challenges to tackle on the backend of development..." %>
    </div>
    <div>
      <%= form.submit "Generate", class: "btn btn-primary"%>
    </div>
  </div>
 <% end %>
