<h1>Choose your favorite:</h1>

<div class="card-container">
  <a href="/expandedidea/new?id=1" class="custom-card ideas-card"  onclick="selectCard(event, this, 1)">
    <h2>Idea 1</h2>
    <p><%= @initial_question.ai_answer1 %></p>
  </a>

  <a href="/expandedidea/new?id=2" class="custom-card ideas-card" onclick="selectCard(event, this, 2)">
    <h2>Idea 2</h2>
    <p><%= @initial_question.ai_answer2 %></p>
  </a>

  <a href="/expandedidea/new?id=3" class="custom-card ideas-card" onclick="selectCard(event, this, 3)">
  <h2>Idea 3</h2>
    <p><%= @initial_question.ai_answer3 %></p>
  </a>


<%= form_with(url: "/initial_questions", method: "post") do |form| %>
  <div class="custom-form">
    <div class="custom-form-bubble">
      <%= form.label :changes, "Any Changes" %>
      <%= form.text_field :changes, placeholder: "I'm really looking to do something which has some interesting challenges to tackle on the backend of development..." %>
    </div>
    <div>
      <%= form.submit "Generate", class: "btn btn-primary"%>
    </div>
  </div>
 <% end %>
