<h1>About us:</h1>
<h1></h1>
<h2 class="cutom-card-container" > We the boys who built this beuty </h2>
<h1></h1>
<h1></h1>


<div class="custom-card-container" data-initial-questions-sidebar-target="flexbox">
  <div class="custom-card">
    <h3><%= "Hugo" %></h3>
    <h5><%= "I am the card twizling master" %></h5>
    <p><%= "." %></p>
  </div>

  <div class="custom-card">
    <h3><%= "Milenco" %></h3>
    <h5><%= "Hi, i am the back end boss" %></h5>
    <p><%= "." %></p>
  </div>

  <div class="custom-card">
    <h3><%= "Bertie" %></h3>
    <h5><%= "I made a modal" %></h5>
    <p><%= "." %></p>
  </div>

  <div class="custom-card">
    <h3><%= "Tony" %></h3>
    <h5><%= "Hi, i am the ai king" %></h5>
    <p><%= "." %></p>
  </div>

</div>
