 <!-- Style link to and improve positioning -->

<div class="new-form-header">
  <div class="edit-form-button">
    <%= link_to edit_idea_path(@idea) do %>
      <i class="fa-solid fa-arrow-left-long" style="font-size: 48px;"></i>
      <span class="edit-form-button-description", style="font-size: 32px;">Edit</span>
    <% end %>
  </div>

  <h1>Create your post</h1>
</div>

<div data-controller="scroll">
  <%# <div class="post-and-feedback-wrapper"> %>
    <!-- Post Show Card -->
    <div class="new-form-container">

      <%= form_with model: [@idea, @post], class: "", data: { controller: "form-filter", action: "submit->form-filter#prepare" }, html: { multipart: true } do |form_post| %>

      <div class="d-flex">
        <div class="edit-form-header">
          <%= form_post.text_field :title, class: "new-form-input edit-form-title", placeholder: "Post Title", readonly: true %>

          <%= form_post.text_field :tagline, class: "new-form-input edit-form-tagline", placeholder: "Post Tagline", readonly:true %>
        </div>

        <div class="avatar-container">
          <% if @post.idea.user.avatar.attached? %>
                  <%= cl_image_tag @post.idea.user.avatar.key, width: 200, height: 200, crop: :thumb, gravity: :face, class: "new-avatar-large", alt: "User avatar" %>
          <% else %>
                  <%= image_tag "Avatar_placeholder.png", width: 200, height: 200, class: "new-avatar-large", alt: "User avatar placeholder" %>
          <% end %>
          <div class="avatar-name"><%= @post.idea.user.first_name %></div>
        </div>
      </div>


        <!-- Post Content -->
      <div class="post-content">
        <div class="new-form-image-summary-wrapper">
             <!-- Image Upload Section -->
            <div class="new-form-post-image">
              <%= form_post.file_field :image, id: "file-upload", class: "hidden-file-input" %>
              <label for="file-upload"    class="custom-file-upload-button">
                <i class="fa-solid fa-upload"></i> Upload Image
              </label>
            </div>
          <div class="new-post-summary">
            <%= form_post.text_area :summary, class: "new-form-input edit-form-summary", rows: 5, placeholder: "Post Summary", readonly: true %>
          </div>
        </div>

          <!-- Post Sections -->
        <%= form_post.fields_for :post_sections do |post_section_fields| %>
          <div data-controller="section-remove" data-section-remove-target="wrapper" class="post-section-wrapper">
            <div class="new-form-check">
              <%= post_section_fields.text_field :heading, class: "new-form-input edit-form-heading", placeholder: "Section Heading", readonly: true %>
              <div class="form-switch">
                <input class="form-check-input remove-section-switch" type="checkbox" id="flexSwitchCheckDefault" data-action="section-remove#toggle" checked>
              </div>
            </div>

            <%= post_section_fields.text_area :content, class: "new-form-input edit-form-summary", rows: 5, placeholder: "Section Content", readonly: true %>
          </div>
        <% end %>


        <!-- Instead of the feedback form, displaying the Submit button in the same column -->

          <div class="mt-3 btn btn-primary">
            <%= form_post.button "<i class='fa-solid fa-paper-plane'></i> Submit".html_safe, type: "submit", class: "new-button" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
