<h1>New Post for "<%= @idea.title %>"</h1>

<%= simple_form_for [@idea, @post] do |f| %>
  <%= f.input :title %>
  <%= f.input :tagline %>
  <%= f.input :summary %>

  <h2>Sections</h2>
  <%= f.simple_fields_for :post_sections do |section_fields| %>
    <div class="post-section">
      <%= section_fields.input :heading, label: "Section Heading" %>
      <%= section_fields.input :content, label: "Section Content" %>
    </div>
  <% end %>

  <%= f.button :submit, "Create Post" %>
<% end %>

<%= link_to "Back to idea", edit_idea_path(@idea) %>
