<div class="post-card-large">
  <h1><%= @post.title %></h1>
  <h2><%= @post.tagline %></h2>
  <p><%= @post.summary %></p>

  <% @post.post_sections.each do |section| %>
    <div>
      <h3><%= section.heading %></h3>
      <p><%= section.content %></p>
    </div>
  <% end %>
</div>
