<div data-controller="scroll">
  <div class="post-and-feedback-wrapper">
    <!-- Post Show Card -->
    <div class="post-show-card">
        <div class="post-header">
          <% if @post.image.attached? %>
            <%= cl_image_tag @post.image.key, class: "post-image", alt: "#{@post.title} image" %>
          <% end %>
          <div>
            <!-- Post Title -->
            <h1><%= @post.title %></h1>
            <h3><em><%= @post.tagline %></em></h3>
          </div>
          <!-- Avatar and Name Wrapper -->
          <div class="avatar-container post-show-avatar">
            <% if @post.idea.user.avatar.attached? %>
              <%= cl_image_tag @post.idea.user.avatar.key, width: 100, height: 100, crop: :thumb, gravity: :face, class: "avatar-large", alt: "User avatar" %>
            <% else %>
              <%= image_tag "Avatar_placeholder.png", width: 100, height: 100, class: "avatar-large", alt: "User avatar placeholder" %>
            <% end %>
          </div>
        </div>
        <div class="post-tags">
          <% @post.tags.each do |tag| %>
            <span class="tag-static"><%= tag.name %></span>
          <% end %>
        </div>
        <div class="post-summary">
          <p><%= @post.summary %></p>
        </div>

        <hr>

        <% @post.post_sections.each do |section| %>
          <div>
            <h3><%= section.heading %></h3>
            <p><%= section.content %></p>
          </div>
        <% end %>
    </div>

    <!-- Sticky buttons and feedback form -->
    <div class="buttons-and-feedback">
      <div class="upvote-and-comments">
        <!-- Upvote -->
        <div class="upvote-block large" data-controller="upvote" data-upvote-url-value="<%= upvote_post_path(@post) %>">
          <button class="upvote-btn" data-action="click->upvote#upvote">
            <i class="fa-regular fa-circle-up"></i>
          </button>
          <div class="upvote-count" data-upvote-target="count">
            <%= @post.upvotes %>
          </div>
        </div>

        <!-- Comments -->
        <div class="upvote-block large" >
          <button class="upvote-btn" data-action="click->scroll#scrollToFeedbacks">
              <i class="fa-solid fa-comments"></i>
          </button>
          <div class="upvote-count">
            <%= @post.feedbacks.count %>
          </div>
        </div>
      </div>

      <% if current_user == @post.idea.user %>
        <% if @post.feedbacks.count == 0 %>
          <h3>No feedbacks yet, stay tuned!</h3>
        <% else %>
          <h3>See what people have been saying below!</h3>
        <% end %>

      <% else %>
        <!-- Add Feedback Form -->
        <div class="feedback-form">
          <% if @post.feedbacks.count == 0 %>
            <h3>Be the first to leave feedback</h3>
          <% else %>
            <h3>Leave feedback</h3>
          <% end %>
          <%= simple_form_for [@post, @feedback], data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } do |f| %>
            <div class="form-group">
              <%= f.input :content, label: false, placeholder: "Leave feedback for #{@post.idea.user.first_name}:
  • I love the title, so catchy!
  • I think you could do with a snappier tagline" %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Add Feedback", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="feedbacks" data-scroll-target="feedbacks">
    <h3>Feedbacks</h3>
    <% if @post.feedbacks.count == 0 %>
      <% if current_user == @post.idea.user %>
        <h5>Feedback section is empty for now—check back later!</h5>
      <% else %>
        <h5>Feedback section is currently empty. You can change that!</h5>
      <% end %>
    <% end %>
    <%= turbo_stream_from "post_#{@post.id}_feedbacks" %>
    <div id="feedbacks">
      <% @post.feedbacks.each do |feedback| %>
        <%= render 'feedbacks/feedback', feedback: feedback, user: current_user %>
      <% end %>
    </div>
  </div>
</div>
