<div class="post-and-feedback-wrapper">
  <!-- Post Show Card -->
  <div class="post-show-card">
      <div class="post-header">
        <!-- Avatar and Name Wrapper -->
        <div class="avatar-container">
          <% if @post.idea.user.avatar.attached? %>
            <%= cl_image_tag @post.idea.user.avatar.key, width: 50, height: 50, crop: :thumb, gravity: :face, class: "avatar-med", alt: "User avatar" %>
          <% else %>
            <%= image_tag "Avatar_placeholder.png", width: 50, height: 50, class: "avatar-med", alt: "User avatar placeholder" %>
          <% end %>
          <div class="avatar-name"><%= @post.idea.user.first_name %></div>
        </div>

        <div>
          <!-- Post Title -->
          <h1><%= @post.title %></h1>
        </div>
      </div>
      <h3><%= @post.tagline %></h3>
      <div class="image-summary-wrapper">
        <% if @post.image.attached? %>
          <%= cl_image_tag @post.image.key, class: "post-image", alt: "#{@post.title} image" %>
        <% end %>
        <div class="post-summary">
          <p><%= @post.summary %></p>
        </div>
      </div>

      <% @post.post_sections.each do |section| %>
        <div>
          <h3><%= section.heading %></h3>
          <p><%= section.content %></p>
        </div>
      <% end %>

  </div>
  <div class="upvote-and-comments">

    <!-- Upvote -->
    <div class="upvote-block large" data-controller="upvote" data-upvote-url-value="<%= upvote_post_path(@post) %>">
      <button class="upvote-btn" data-action="click->upvote#upvote">
        <i class="fa-regular fa-circle-up"></i>
      </button>
      <div class="upvote-count" data-upvote-target="count">
        <%= @post.upvotes %>
      </div>
    </div>

    <!-- Comments -->
    <div class="upvote-block large">
      <button class="upvote-btn">
          <i class="fa-solid fa-comment"></i>
      </button>
    </div>

  </div>

  <!-- Feedback Sidebar -->
  <div class="feedback-sidebar">
    <div>
      <h3>Feedback</h3>

      <h5>Add your feedback: </h5>

      <%= simple_form_for [@post, @feedback], data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } do |f| %>
        <div class="form-group">
          <%= f.input :content, label: false, placeholder: "Leave feedback here..." %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Add Feedback", class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= turbo_stream_from "post_#{@post.id}_feedbacks" %>
      <div id="feedbacks">
        <% @post.feedbacks.each do |feedback| %>
          <%= render 'feedbacks/feedback', feedback: feedback %>
        <% end %>
      </div>

    </div>
  </div>
</div>
